<!DOCTYPE html>
<html>
<head>
    <title>Service Debug</title>
    <link rel="stylesheet" href="{{ asset('bundles/loosemonkiescore/css/foundation.min.css') }}">
</head>
<body>
    <pre style="padding: 25px;">{{ response }}</pre>
</body>
</html>